#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  padding: 0.6rem;
  margin: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.collection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  background-color: #222;
}

.collection-card {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  width: 460px;

  &:hover {
    box-shadow: 0 0 10px #ccc;
  }
}

.collection-card-selected {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.collection-image {
  max-width: 80px;
}
